@charset "utf-8";
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,del,img,ins,q,
em,strong,dfn,code,samp,kbd,var,cite,
small,sub,sup,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
body                        {line-height:1;_behavior:url(res/htc/csshover3.htc);/*ie6 hack*/}
ol,ul                       {list-style:none;}
table                       {border-collapse:collapse;border-spacing:0;}

input,label,select          {vertical-align:middle;}
textarea,select             {overflow:auto;border:1px solid #ccc;}
input.checkbox,input.radio    {border:0;height:13px;width:13px;margin:2px;outline:0;}
label                       {cursor:pointer;}

body        {font:14px/21px Tahoma,Helvetica,Arial,sans-serif;background:#aaa;color:#333;}
a           {text-decoration:none;color:#0093DD;}
a:hover     {text-decoration:underline;color:#000;}
a.active    {font-weight:700;}

.wrap    {margin:0 auto;width:800px;height:auto;background:#fff;}

.logo 	{height:100px;line-height:100px;background:url(../img/logo.gif) no-repeat;}
.main 	{background:#2288cc url(../img/login_bg.jpg); width:800px; height:375px;}
.login	{display:block; background: url(../img/login_topbg.png) no-repeat; width:340px; height:326px; float:right; margin:30px 20px 0 0;}

#ui_login_title {text-align:center; width:340px; height:50px; line-height:50px; font-size:16px;font-weight:bold;}

#login_input {width:280px; height:180px; line-height:60px; font-size:14px; font-weight:bold;margin:10px 30px;}
#login_input input,select { height:26px; line-height:26px; font-size:14px; width:180px; border:1px solid #ccc; padding:0 5px; }
#login_input span { width:100%; }

.btn	{text-align:center;outline:0;margin:5px 10px;font-size:14px;cursor:pointer;border:0;width:96px;height:28px;padding-bottom:3px;background:url(../img/btn.png) no-repeat;}
.btn:hover {background-position:0 -28px;}

#ui_copyright {height:50px;line-height:50px;text-align:center;font-weight:bold;}

div.droplist 			{vertical-align:top;margin-top:16px;display:inline-block;*display:inline;*zoom:1;border:1px #ccc solid;position:relative;cursor:pointer;width:190px;height:25px;font-weight:normal;}
div.droplist p 		{height:25px;line-height:25px;padding:0 5px;background:url(../img/arrdown.gif) no-repeat center right;}
div.droplist ul 		{position:absolute;top:25px;left:-1px;display:none;width:100%;border:solid 1px #ccc;background:#fff;z-index:2;}
div.droplist ul li		{height:26px;line-height:26px;padding:0 5px;background:#fff;color:#333;}
div.droplist ul li:hover, div.droplist ul li.active {background:#eee;}